.book-page{

min-height:100vh;
background:linear-gradient(
90deg,
#4c4be7,
#18bfe0
);

}

.book-container{

padding:40px;

}

.book-container h1{

text-align:center;
color:white;
font-size:60px;
margin-bottom:30px;

}

.book-form{

display:flex;
gap:20px;
justify-content:center;
margin-bottom:40px;
flex-wrap:wrap;

}

.book-form input{

padding:18px;
border:none;
border-radius:15px;
width:220px;
font-size:18px;

}

.book-form button{

padding:18px 30px;
border:none;
border-radius:15px;
background:#222;
color:white;
cursor:pointer;

}

.cards{

display:grid;
grid-template-columns:
repeat(
auto-fit,
minmax(300px,1fr)
);

gap:30px;

}

.book-card{

background:white;
padding:30px;
border-radius:25px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}

.edit-btn{

background:#16c79a;
border:none;
padding:12px 25px;
border-radius:10px;
color:white;
margin-right:10px;

}

.delete-btn{

background:red;
border:none;
padding:12px 25px;
border-radius:10px;
color:white;

}